# This is a sample environment file.
# You can copy this file to `.env` and modify the values as needed.

# ---- PostgreSQL ----

POSTGRES_USER=usernameHere
POSTGRES_PASSWORD=passwordHere
POSTGRES_DB=ingenparking

# ---- Flask ----

DATABASE_URL=postgresql+psycopg2://usernameHere:passwordHere@db:5432/ingenparking